.container_Error {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title_Error {
  font-weight: bold;
  font-size: 2.5rem;
  /* color: white; */
  font-family: Ubuntu;
  margin-bottom: 10px;
}

.code_Error {
  font-weight: bold;
  font-size: 1.2rem;
  color: #155a95;
  margin-Right: 4px;
  font-family: Ubuntu;
}

.message_Error {
  font-weight: bold;
  font-size: 1.2rem;
  /* color: white; */
  font-family: Ubuntu;
}
